[submodule "/home/jaume/.vim/bundle/ctrlp.vim"]
	path = /home/jaume/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "/home/jaume/.vim/bundle/syntastic"]
	path = /home/jaume/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "/home/jaume/.vim/bundle/nerdcommenter"]
	path = /home/jaume/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "/home/jaume/.vim/bundle/tabular"]
	path = /home/jaume/.vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "/home/jaume/.vim/bundle/nerdtree"]
	path = /home/jaume/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
